<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No Events!</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="entry : ${events}">
            <th:block th:if="${entry.key != null}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </th:block>
        </tr>
    </tbody>
</table>

</body>
</html>